    header {
      text-align: center;
      background:rgb(19, 36, 61 );
      background-size: cover;
      color: white;
    }
    body {
    font-family: 'Chivo Mono', monospace;
    }
    
    a {
      color: rgb(129, 133, 137);
    }
    .navigation {
      color: white;
    }
    h1 {
      font-size: 70px;
      color: rgb(255, 255, 255);
    }
    h2 {
      text-align: center;
      font-size: 45px;
      color: rgb(129, 133, 137);
    }
    p {
      color: rgb(129, 133, 137);
      font-size: 20px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgb(129, 133, 137);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 800px;
      padding: 20px;
      margin: 0 auto;
    }
    .gallery {
      width: 100%;
    }
    .gallery figure {
      display: inline-block;
      width: 30%;
      min-height: 100px;
    }
    figcaption {
      color: rgb(129, 133, 137);
      font-size: 12px;
      text-align: center;
      display: inline-block;
    }
    @media (max-width: 700px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
      p {
        font-size: 14px;
      }
      h2 {
        font-size: 22px;
      }
    }
